---
import "../styles/panelNavigation.css";
import "../styles/global.css";
---

<div class="link borderLink">
    <a href="/rules">Правила</a>
    <a href="/Cards">Карты</a>
    <a href="">Персонажи</a>
</div>

<style>
</style>
