---
import "../styles/panelNavigation.css"
---

<div class="link borderLink">
    <a href="#Preparing-for-the-game">Подготовка</a>
    <a href="#Start">Начало</a>
    <a href="#Player-turn">Ход</a>
    <a href="#Purchase">Покупка</a>
    <a href="#slots">Слоты</a>
    <a href="#Death">Смерть</a>
    <a href="#Barter">Бартер</a>
    <a href="#Dice-rolls">Бросок кости</a>
    <a href="#priority">Приоритет</a>
    <a href="#Stack">Стэк</a>
    <a href="#Win">Победа</a>
</div>
